# top-most EditorConfig file
root = true

# Shared configs:
[*]
charset = utf-8
insert_final_newline = true
end_of_line = lf
indent_style = space
indent_size = 4
max_line_length = 101
trailing_comma = es5
single_quote = false

[*.md]
prose_wrap = always

[*.sh]
# like -i=4
# indent_style = space
# indent_size = 4

shell_variant      = bash   # like -ln=posix
switch_case_indent = true   # like -ci
keep_padding       = true   # like -kp
function_next_line = false  # like -fn

# Ignore the entire "third_party" directory.
[third_party/**]
ignore = true
