.tags
tags
*.sw[op]
.DS_Store
*.a
build/
.cache
*.class
.coverage
coverage.xml
develop-eggs/
dist
dist-*
dist/
docs/_build/
*.egg
*.egg-info/
*.elf
*.exe
*.hex
*.hi
*.o
*.obj
*.out
*.pdb
__pycache__/
*.py[cod]
sdist/
*.so
