[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[user]
    name = Elliott Indiran
    email = eindiran@users.noreply.github.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = delta
[advice]
    forceDeleteBranch = false
    detachedHead = true
    implicitIdentity = true
[interactive]
    diffFilter = delta --color-only --features=interactive
[alias]
    a = add .
    adog = log --all --decorate --oneline --graph
    aliases = !git config --list | rg ^alias\\. | cut -c 7-
    amend = commit --amend
    br = branch
    c = commit
    caa = commit -a --amend -C HEAD
    cam = commit -am
    ch = checkout
    cl = clone
    cm = commit -m
    d = diff
    dft = difftool
    dlog = "!f() { : git log ; GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
    hash = rev-parse --short=16 HEAD
    hist = !git log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    history = lp
    last = log -1 HEAD
    log-graph = log --all --decorate --oneline --graph
    log-patch = log --patch --stat
    lp = log --patch --stat
    master = checkout master
    mergechanges = "!f() { git merge $1 --no-ff --no-commit; git diff --cached; git merge --abort; }; f"
    mergediff = "!f() { HASH=$1; shift 1; git d --cc $HASH $HASH^1 $HASH^2 $@; }; f"
    nb = checkout -b
    new = !zsh -c 'git log $1@{1}..$1@{0} "$@"'
    remotes = remote -v
    rename = branch -m
    st = status
    unstage = reset HEAD --
[push]
    autoSetupRemote = true
    default = simple
[pull]
    rebase = false
[delta]
    dark = true
    # Side-by-side and line-numbers disabled by default:
    # features = decorations side-by-side line-numbers
    features = decorations
    navigate = true
    syntax-theme = "Monokai Extended"
    # Force 24bit color
    true-color = "always"
# Settings for delta interactive mode
[delta "interactive"]
    keep-plus-minus-markers = false
# Settings for delta decorations, if enabled
[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
# Settings for delta line-numbers, if enabled
[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
[color]
    ui = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
