[user]
	name = Elliott Indiran
	email = eindiran@uchicago.edu
	username = eindiran
[github]
	user = eindiran
	token = TOKEN
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore
	pager = diff-so-fancy | less --tabs=4 -RFX
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[web]
	browser = /usr/bin/firefox
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[push]
	default = simple
[alias]
	a = add .
	adog = log --all --decorate --oneline --graph
	amend = commit --amend
	br = branch
	c = commit
	cam = commit -am
	ch = checkout
	cl = clone
	cm = commit -m
	d = diff
	hash = rev-parse --short=16 HEAD
	hist = !git log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	last = log -1 HEAD
	lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
	log-graph = log --all --decorate --oneline --graph
	log-patch = log --patch --stat
	lp = log --patch --stat
	nb = checkout -b
	remotes = remote -v
	rename = branch -m
	st = status
	unstage = reset HEAD --
