# .gitignore
# This .gitignore is probably not the best for your specific project, since it ignores a lot of patterns
# Check the top-level git directory for language specific .gitignore files.
# https://github.com/eindiran/dotfiles/tree/master/git

*.a
*.app
*.aux
bin/
build/
cabal-dev
cabal.project.local
cabal.project.local~
.cabal-sandbox/
cabal.sandbox.config
.cache
*.chi
*.chs.h
*.class
*.cmd
.coverage
coverage.xml
*.d
develop-eggs/
dist
dist-*
dist/
dkms.conf
*.dll
docs/_build/
*.dSYM/
*.dylib
*.dyn_hi
*.dyn_o
*.ear
*.egg
*.egg-info/
eggs/
*.elf
*.eventlog
*.exe
*.exp
*.gch
.ghc.environment.*
*.hex
*.hi
*.hp
.hpc
.hsenv
hs_err_pid*
.HTF/
*.i*86
*.idb
*.ilk
.installed.cfg
.jekyll-cache/
.jekyll-metadata
*.ko
*.la
*.lib
lib/
lib64/
*.lo
*.log
*.map
Mkfile.old
*.mo
*.mod*
modules.order
Module.symvers
.mr.developer.cfg
*.nar
nosetests.xml
*.o
*.obj
*.out
parts/
*.pch
*.pdb
pip-delete-this-directory.txt
pip-log.txt
*.pot
*.prof
.project
__pycache__/
*.py[cod]
.pydevproject
*.rar
.ropeproject
.sass-cache/
sdist/
_site/
*.so
*.so.*
.stack-work/
*.su
*.tar.gz
.tmp_versions/
.tox/
var/
*.war
*.x86_64
*.zip
